@import "../../vars.css";


.container{
    background-color: var(--color-bg);
    margin-top: 50px;
    color: var(--color-text);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    margin-left: 10%;
    
    flex-direction: row;
}

.secleft{
    display: flex;
    flex-direction: column;
}

.title{
    text-transform: uppercase;
}

.Codeimage{
    height: 500px;
    width: 500px;
    z-index: 1;
}

.items{
    flex-direction: column;  
}

.item{
    flex-direction: row;
    list-style: none;
    margin-bottom: 5%;
}

.aboutinfo{
    
}