@import "../../vars.css";


.container{
    background-color: var(--color-bg);
    margin-top: 50px;
    color: var(--color-text);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    margin-left: 10%;
    margin-right: 15%;
    flex-direction: row;
}

.title{
    text-transform: uppercase;
}

.Codeimage{
    height: 355px;
    width: 100%;
    z-index: 1;
}

.items{
    flex-direction: column;
}

.item{
    flex-direction: row;
    list-style: none;
}

.aboutinfo{
    
}