@import "../../vars.css";


.container{
    background-color: var(--color-bg);
    margin-top: 50px;
    color: var(--color-text);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.heading{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    align-items: start;
    column-gap: 20px;
    border-width: 1px;
}

.myimage{
    grid-column: 1;
    grid-row: 1 / span 3;
    width: 60%;
    max-width: 100%;
    z-index: 1;
    border-radius: 50%;
    margin: 0 auto;
    
}

.informationList{
    grid-column: 1;
    grid-row: 1 / span 3;
    font-size: 12px;
    font-family: var(--font-roboto);
    margin: 5%;
    /* border-style: inset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.textcontainer {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--color-text);
    z-index:1;
    margin: 1%;
}


.content{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    color: var(--color-text);
    line-height: 1.6;
    
}

.items{
    display: flex;
    flex-direction: column; 
    
}

.itemTitle{
    font-size: 13px;
    display: flex;
    align-items: center;
}

.item{
    flex-direction: row;
    list-style: none;
    background-color: rgb(32, 32, 32);
    margin: 1% 2% 0 0;    /* Top right bottom left */
    padding: 10px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-style: inset;
}

.aboutIcons{
    display: flex;
    width: 5%;
    float: left;
    margin-right: 5px;
    align-self: flex-start;
}


.aboutinfo p:hover{
    background-color: var(--color-dark);
}

.aboutinfo p{
    margin-top: 1%;
    font-size: 12px;
    overflow: auto;
}


@media screen and (max-width: 830px){

    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .Codeimage{
        display: none;
    }
    .codeImagecontainer {
        margin-top: 0;
        margin-right: 0;
    }

    .heading{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 0;
        row-gap: 12px;
        margin-right: 0;
        width: 100%;
    }
    .myimage{
        grid-column: 1;
        grid-row: 1;
        width: 70%;
        margin: 0 auto;
    }
    .informationList{
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }
    .textcontainer{
        grid-column: 1;
        grid-row: 3;
        align-items: flex-start;
    }
}
