@import "../../vars.css";

.container{
    background-color: var(--color-bg);
    margin-top: 50px;
    color: var(--color-text);
    position: relative;
    z-index: 1;
    flex-direction: row;
}

.secleft{
    margin-left: 5%;  
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    color: var(--color-text);
    font-size: 18px;
    line-height: 1.6;
}

.items{
    display: flex;
    flex-direction: column; 
}

.itemTitle{
    font-size: 11px;
    display: flex;
    align-items: center;
}

.item{
    flex-direction: row;
    list-style: none;
    
    margin: 2% 5% 0 0;    /* Top right bottom left */
}

.aboutIcons{
    display: flex;
    width: 5%;
    float: left;
    margin-right: 5px;
    align-self: flex-start;
}


.aboutinfo p:hover{
    background-color: var(--color-dark);
}

.aboutinfo p{
    margin-top: 2%;
    font-size: 18px;
    overflow: auto;
}

@media screen  and (max-width: 830px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .Codeimage{
        display: none;
    }
    .codeImagecontainer {
        margin-top: 0;
        margin-right: 0;
    }
    
    
}