@import "../../vars.css";

.container{
    background-color: var(--color-bg);
    margin-top: 10px;
    color: var(--color-text);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
}