@import "../../vars.css";

.container{
    background-color: var(--color-bg);
    margin-top: 10px;
    color: var(--color-text);
    display: flex;
    justify-content: space-evenly;
    z-index: 1; 
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.container h2{
    font-size: 18px;
}


.items{
    list-style: none;
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 6px;
    margin: 2% 0 2% 0;
    width: 50%;
}

.item{
    width: 30%;
}

.itemcontainer{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.itemTitle{
    font-size: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.icons{
    width: 80%;
    background-color: var(--color-secondary);
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutinfo{
    font-size: 18px;
}

.history{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 11px;
}

.historyItem{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #162849;
    border-radius: 10px;
    padding: 25px;
}

.historyItem a{
    width: 180px;
    display: block;
}

.historyItem a img{
    width: 40%;
    height: auto;
    display: block;
}

.historyItem a img:hover{
    cursor: pointer;
}

.historyItemDetail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    
}

.historyItemDetail{
    display: flex;
    flex-direction: column;
}

.historyItemDetail h3{
    font-size: 12px;
    font-weight: 500;
    overflow-wrap: anywhere;
    
}

.historyItemDetail p{
    font-size: 16px;
    font-weight: 300;
    overflow-wrap: anywhere;
}

.historyItemDetail ul{
    list-style-position: inside;
    margin-top: 6px;
    font-size: 11px;
    list-style-type: disc;
    overflow-wrap: anywhere;
}

@media screen  and (min-width: 830px) and (max-width: 1400px) {

    .item{
        width: 40%;
    }
    .secleft{
        flex-direction: row;
    }
}

@media screen  and (max-width: 830px) {
    .secleft{
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }

    .items{
        width: 100%;
        flex-direction: row;
        margin-top: 5%;
    }
    .item{
        width: 20%;
    }
    .history{
        width: 100%;
        gap: 9px;
        flex-direction: row;  
    }
}