:root{
    /* Colors */
    --color-text: #fff;
    --color-primary: #182a74;
    --color-secondary: #f5f3f7;
    --color-dark: #010f22;
    --color-bg: #000103;


    /* fonts */
    --font-roboto: "Roboto"
}